.App {
  text-align: left;
}

Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-links {
  width: 40vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

form {
  display: block;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

table, th, td {
  margin: auto;
  align-content: center;
  width: "100%";
  text-align: center;
}
th, td {
  width: 20vw;
  border: 2px solid black;
}

.nav {
  padding: 1vh 1vw;
  border-radius: 50%;
  font-weight: bold;
}

.nav:hover {
  background: lightblue;
  color: black;
}

@import url("https://cdn.syncfusion.com/ej2/material.css");