.App {
  text-align: center;
}

Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-links {
  width: 40vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

table, th, td {
  display: inline-block;
  align-content: center;
  width: "100%";
}
th, td {
  width: 20vw;
  border: 2px solid black;
}